<h1 class="line2">About Me</h1>

<img class="img3" src="/Images/profile.jpg">

<p class="paragraph">

Cherios madame and monsieur, My name is Jason Frederickton, 
I am the founder and CEO of the company “Frederickton Enterprise” (F.E). 
Before creating this company, I was studying computer programming at Durham College. 
My interests are cooking, baking, coding and editing programs. 
If you would like to contact me for more information about me or my company. 
</p>
<h2 class="contact">Phone Number: 905-621-7490 </h2>

<h2 class="email mb-5">Email Address: FEEnterprise@example.com </h2> 
