<h1 class="line2">About Me</h1>

<img class="img3" src="/Images/Adonai-Profile.jpg">

<p class="paragraph">
My name is Adonai Ford-Williams. I am currently 25 years old. 
</p>
<h2>Education:</h2>
<p class="paragraph">
Ontario College Diploma in Computer Programming from Durham College: School of Business IT & Management.
</p>
<p class="paragraph foot">
    Bachelor of Arts (Honours) in Forensic Psychology from Ontario Tech Univeristy
</p>

