<body class="background">
<h1 class="newfont proj-title">Welcome to Adonai's Website!</h1>
<button id="AboutUsButton" class="btn btn-primary aboutButton">About Adonai Ford-Williams</button>

<h2 class="newfont2">This website is a showcase of the projects I have completed</h2>
<h1 class="newfont3">Mission Statement:<br/>Quick Quality Work</h1>

</body>