<h1 class="proj-title">View some Creative Projects I've Made!</h1>
<h2 class="proj-desc">Each Project was made entirely by me!</h2>
<h3 class="proj-desc1">My Projects range from:</h3>
<h3 class="mt-4">Classic Card games</h3>
<img height="200" src="/Images/war.png">

<h3 class="img2"> Inventory Management System</h3>
<img class="img2" height="200" src="/Images/dashboard.png">

<h3>Live Websites</h3>
<img class="mb-5" height="200" src="/Images/website.png">

<h3 class="line1">And Many More!!</h3>