<h1>F.E Services</h1>

<h2>As a Computer Programmer, I excel at the following:</h2>

<main class="container main-border">
    <div id="row1" class="row">
      <div class="column">
        <h3>Front-End Development</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Angular</li>
            <li>Vue</li>
            <li>jQuery</li>
        </ul>  
      </div>
      <div id="img4" class="column">
        <img height="300" src= "/Images/html.jpeg">
      </div>
    </div>      
    
    <div class="row">
        <div class="column">
            <h3>Back-End Development</h3>
        <ul>
            <li>Javascript</li>
            <li>Java</li>
            <li>C++</li>
            <li>Python</li>
            <li>PHP</li>
            <li>SQL</li>
        </ul>
        </div>
        <div id="img4" class="column">
            <img height="300" src= "/Images/sql.png">
          </div>
    </div>

    <div class="row">
        <div class="column">
            <h3>Cloud Hosting</h3>
            <ul class="mb-5">
                <li>Microsoft Azure</li>
                <li>GitHub Pages</li>
                <li>Heroku Live Site</li>
                <li>Mongo Database</li>
            </ul>
        </div>
        <div id="img4" class="column mb-5">
            <img height="300" src= "/Images/azure.jpg">
          </div>
    </div>
  </main>






